body{
background-color: pink;
background-size:100%
background-repeat: no-repeat;
height:110vh;
background-size : cover;

}
.form_container{
	margin: 350px;
	width: 100px
	height: 100px;
}
.input-group input[type="submit"] {
	padding: 10px;
	height: 40px;
	width: 30%;
	font-size: 25px;
}
form .content {
	width: 55%;
	height: 50%;
	margin: 0px auto;
	padding: 10px;
	background: white;
	border-radius: 10px;
	
}


h1{
	text-align:300px;
	color:green;
}

button{
   font-size:15px;
	color:green;
	border:none;
	width:35%;
	height:30%; 
}




